<link rel="stylesheet" href="/stylesheets/career_coach.css" />
<header>
        <div>
          <div>
            <img class="logo" src="/public/images/logo (1).svg"/>
          </div>
                <span>My Coach</span>


          <nav class="nav-bar">
            <ul class="nav-bar-ul">
              <li><a href="/"> coaches </a></li>
              <li><a href="/create-reviews"> reviews </a></li>
              <li><a href="/signup"> signup </a></li>
              <li> <a href="/login">Login</a></li>
            </ul>
          
          </nav>
        </div>
</header>

<section>
  <div>
    <h1>Career Coach</h1>
    <h2>Description:</h2>
    <p>
      "Career coaching can help you with your current job, establish your professional goals and support you in making a career change. The aim of career coaching is to help you understand what you want, the skills you need and how you can develop. A career coach will support you in making these initial steps, setting you on your way to a more fulfilling working life."
    </p>
    <h2>Services:</h2>
    <ul>
      <li>Career exploration</li>
      <li>Interviewing skills and confidence building</li>
      <li>Creative job search strategies</li>
      <li>Resume and cover letter writing</li>
      <li>Career, personality and strengths assessments</li>
      <li>Personal marketing and branding</li>
      <li>Evaluating prospective employers</li>
      <li>Salary negotiations</li>
    </ul>
     <button>
      <a href="/create-reviews">Add a review</a>
    </button>
    <button>
      <a href="/create-reviews">Look review</a>
    </button>
  </div>
  <div>
   <img src="https://media.istockphoto.com/photos/young-bearded-businessman-sitting-on-desk-and-posing-picture-id1322913815?b=1&k=20&m=1322913815&s=170667a&w=0&h=rvURoK1t_rjAf09De0F5v6L9_wgJrUuZK_cw3vjPgDM="> 
  </div>
</section>



<section>
<div>
  <img src="https://images.unsplash.com/photo-1523287562758-66c7fc58967f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8aGFwcHklMjB3b3JrZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60">
</div>
<div>
    <h1>Simon</h1>
    <p>
      "After graduating from a Master 2 in HR at INSEEC Paris, I decided to pursue another degree in coaching. For the last 2 years I have been coaching Managers in a professional environment but also emmployees willing to grow their career. Career coaching is there to helps you improve your career but also be on another level of skills"
    </p>
    <h2>Free tip:</h2>
    <p class="coachp">
      "To achieve a goal, stay focus and organize in stages !"
    </p>
     <button>
      <a href="/book-session">Book a session</a>
    </button>
  </div>
</section>

<footer>
<ul>
    <li><a href="#coach">coaches</a></li>
    <li><a href="/create-reviews">reviews</a></li>
    <li><a href="/signup">signup</a></li>
    <li><a href="/login">login</a></li> 
</ul>
</footer>
