<link rel="stylesheet" href="/stylesheets/sport_coach.css" />
<header>
        <div>
          <div>
            <img class="logo" src="/public/images/logo (1).svg"/>
          </div>
                <span>My Coach</span>


          <nav class="nav-bar">
            <ul class="nav-bar-ul">
              <li><a href="/"> coaches </a></li>
              <li><a href="/create-reviews"> reviews </a></li>
              <li><a href="/signup"> signup </a></li>
              <li> <a href="/login">Login</a></li>
            </ul>
          
          </nav>
        </div>
</header>

<section>
  <div>
    <h1>Sport Coach</h1>
    <h2>Description:</h2>
    <p>
      "Sport Coaches design custom exercise routines to improve strength, mobility, and endurance. Often found at gyms and equipped training center, you can book some personal trainings and follow a specific training program adapted to your goals. Some Sport Coaches can have the double skill in training and diet."
    </p>
    <h2>Services:</h2>
    <ul>
      <li>Fitness</li>
      <li>Boxing</li>
      <li>Crossfit</li>
      <li>Bodybuilding</li>
      <li>Personal training program</li>
      <li>Diet program</li>
    </ul>
     <button>
      <a href="/create-reviews">Add a review</a>
    </button>
    <button>
      <a href="/create-reviews">Look review</a>
    </button>
  </div>
  <div>
   <img src="https://images.unsplash.com/photo-1598136490929-292a0a7890c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8Mnw1NDM5OTA4Nnx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60">
  </div>
</section>



<section>
<div>  
   <img src="https://media.istockphoto.com/photos/early-30s-male-athlete-doing-renegade-row-pushups-at-gym-picture-id1282804431?b=1&k=20&m=1282804431&s=170667a&w=0&h=HNM3n7HaVqtHFizQUCXYM9ELMdVa5yUqPDyEAJ4Zss0=">
</div>
<div>
    <h1>Daniel</h1>
    <p>
      "I graduated from STAPS and have been a professional boxer for 5 years. Sport is a real discipline and also a lifestyle. Helping people accomplish their personal goal, such as losing weight or preparing a competition is great. I had the opportunity to train professional competitors but also people with health problems needing to eat healthier food and exercise"
    </p>
    <h2>Free tip:</h2>
    <p class="coachp">
      "To lose weight, workout on a regular basis with cardio exercises !"
    </p>
     <button>
      <a href="/book-session">Book a session</a>
    </button>
  </div>
</section>

<footer>
<ul>
    <li><a href="#coach">coaches</a></li>
    <li><a href="/create-reviews">reviews</a></li>
    <li><a href="/signup">signup</a></li>
    <li><a href="/login">login</a></li> 
</ul>
</footer>
