Book a session! Start your class here!! 👻

    <h2>Filters</h2>
    From:<input id ="date-from" type="date"> 
    To:<input id = "date-to" type="date">
    <button id ="get-date-result"> Search</button>


<label for="category">Category:</label>
<select name="courses" id="courses">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
</select>