<link rel = "stylesheet" href= "/stylesheets/book-sessions_style.css"/>


Book a session! Start your class here!! 👻
<form action="/book-session" method="POST">
    <h2>Filters</h2>
    {{!-- <label for="date">Date:</label>
    <input id ="date" type="date">  --}}

    <label for="category">Category:</label>
    <select name="category" id="courses">
        <option value="life">Life coach</option>
        <option value="style">Style coach</option>
        <option value="career">Career coach</option>
        <option value="sport">Sport coach</option>
    </select>

    <label for="location">Location:</label>
    <select name="location" id="locations">
        <option value="Paris">Paris</option>
        <option value="Nantes">Nantes</option>
        <option value="Lyon">Lyon</option>
        <option value="Lyon">Nice</option>
        <option value="Bordeaux">Bordeaux</option>
        <option value="Lille">Lille</option>
        <option value="Marseille">Marseille</option>
    </select>

    <button> Search</button>
</form>
<hr>
<div>
    {{#each courses}}
    <p>Category : {{category}}</p>
    <p>Location : {{location}}</p>
    <p>Time : {{time}}</p>
    <p>coach :{{coach.name}}</p>

    <button>
<a href="/booked">Book a session!!</a>
</button>
    <hr>
    {{/each}}
</div>
