<link rel="stylesheet" href="/stylesheets/coach.css" />


<section class="fifth-section">
    <div class= "fifth-container">
        <div class="fifth-first-div">
                <h2>Career coach</h2>
                <div class="underline"></div>
        <p>A career coach can help individuals research possible career options
        and search out job openings that match their career interests and they
        may work in schools, colleges, government agencies or in private
        practices.</p>
    </div>
    <div class="second-div">
    <img src="/images/home-career.jpg" alt="Career homepage photo" />
    </div>
    </div>
    </div>
</section>