<h1>Welcome to COACH ME</h1>
<P>{{title}}</P>


<a href="/Login">Login</button>
<a href="/Signup">Sign Up</a></button>

<button>
<a href="/style_coach">Go to check the style coaches!</a>
</button>

<button>
<a href="/career_coach">Go to check the career coaches!</a>
</button>

<button>
<a href="/sport_coach">Go to check the sport coaches!</a>
</button>


<button>
<a href="/life_coach">Go to check the sport coaches!</a>
</button>