
{{#if userInSession}}
    <h2>Welcome, {{ userInSession.email }}!</h2>
<p>This is your profile page my friend!😃</p>
    <button>
        <a href="/user-profile">Reload the page</a>
    </button>
    <button>
        <a href= "/create-reviews">write a review 💡! </a>
    </button>
    <button>
        <a href= "/book-session">Book a session📒! </a>
    </button>
        <form id="logout-form" action="/logout" method="POST">
    <button>Logout</button>
{{else}}
    <p>Still no logged in user, sorry!</p>
{{/if}}
