@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap");

body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100vh;
  }

/**/
/*NAV*/
/**/

  nav{
    display: flex;
    flex-direction: row;
    justify-content:center;
    background-color: #042F4B;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    margin: 0px;
    border-bottom: 1px solid lightgray;
  }

  .navh1{
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 30px;
    text-align: center;
}
  
  .imgnav{
    width: 30px;
    border-radius: 100px;
    align-items: center;
    margin-left: 30px;
  }

  nav > ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
  }

  #nava{
    margin-right: 20px;
  }


/**/
/*CENTRAL DIV*/
/**/

  .centralimg{
    align-items:center;
    background-image: url("https://images.unsplash.com/photo-1620128292714-ace2c04026ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin:0px;
    padding-top: 500px;
    padding-bottom: 500px;
    border-bottom: 10px solid #042F4B;
    }


    

.b{
    /*font-size: 20px;
    text-align: center;
    width: 200px;
    height: 100px;
    bottom: 400px;
    background-color: #042F4B;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 0px;
    box-shadow: 0 2px 25px;*/

  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;




}


div > article > button{
    background-color: #042F4B;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 0px;
}

/**/
/*COACHING DIV*/
/**/

section{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div{
    display: flex;
    margin:auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  #coachdiv{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      border-radius: 100px;
      box-shadow: 10px 5px 5px grey;
      font-family: "Montserrat", sans-serif;
      width: 1200px;
      margin-top: 50px;
      margin-bottom: 50px;
  }

section>div>img{
    width: 500px;
    height: 300px;
    border-radius: 200px;
    border: 10px solid #042F4B;
    align-items: center;
}

article > h1{
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color:#042F4B;
    font-size: 30px;
}

article{
    text-align: center;
    align-items: center;
    width: 500px;
}

.zoom div {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom div:hover  {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}


/*
/*FOOTER
*/

footer{
    background-color: #042F4B;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
}

footer > ul{
    display: flex;
    margin-right: 50px;
    list-style: none;
    flex-direction: row; 
    justify-content: space-evenly;   
}



  
  
  
 
  
  /*# sourceMappingURL=style.css.map */